data/mask_rcnn_traffic_sign_size32_epoch10.pth filter=lfs diff=lfs merge=lfs -text
data/mask_rcnn_traffic_sign_size32_epoch20.pth filter=lfs diff=lfs merge=lfs -text
data/mask_rcnn_traffic_sign_size512_epoch10.pth filter=lfs diff=lfs merge=lfs -text
data/mask_rcnn_traffic_sign_size512_epoch10_weights.pth filter=lfs diff=lfs merge=lfs -text
data/mask_rcnn_traffic_sign_size512_epoch25_weights.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
